openai-whisper @ git+https://github.com/openai/whisper.git@ba3f3cd54b0e5b8ce1ab3de13e32122d0d5f98ab
pyannote.audio==3.3.1
librosa==0.10.2.post1
tqdm==4.66.5
python-dotenv==1.0.1
termcolor==2.4.0
pydub==0.25.1
SpeechRecognition==3.10.4
tabulate==0.9.0
soundfile==0.12.1
numpy==1.26.4
transformers==4.53.0
gradio==5.23.0
torch==2.4.1
torchaudio==2.4.1
python-multipart==0.0.12
